.title-bk {
  font-family: 'Montserrat', 'sans serif';
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;

}

.img-bk {
  padding-bottom: 20px;
}

.subtitle-bk {
  padding: 15px;
  color: #3b3b3b;
  padding-bottom: 40px;

}

a {
  color: #512DA8;
  font-weight: 600;
}

.frame-bk {
  border-bottom: solid 15px #512DA8;

}
