.title-bk {
  font-family: 'Montserrat', 'Open Sans';
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;

}

.img-bk {
  padding-bottom: 20px;
}

.subtitle-bk {
  font-family: 'Montserrat', 'Open Sans';
  font-weight: 100;
  font-size: 22px;
  /*padding: 5px;*/
  color: #3b3b3b;
  padding-bottom: 25px;


}

a {
  color: #3F51B5;
  font-weight: 600;
}

p {
  font-family: 'Noto Sans', 'Open Sans';
  
}


.frame-bk {
  border-bottom: solid 15px #3F51B5;
  padding-bottom: 30px;

}
